{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">About</h1>
    <div class="d-flex flex-wrap justify-content-between">
        <div class="card shadow-sm" style="width: 50rem; margin: 10px;">
            <img class="card-img-top " src="{{ url_for('static', filename='images/group.png') }}" alt="Image 1">
            <div class="card-body text-center">
                <h5 class="card-title">group</h5>
                <p class="card-text">This is a description of group.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
